.dashboard h1 {
  background: black;
  padding: 25px;
  color: white;
  font-weight: bold;
  font-size: 22px
}

.dashboard ul {
  padding: 25px
}

.dashboard ul li {
  padding: 25px 0;
  border-bottom: 1px solid #ddd;
  font-size: 17px
}

.dashboard ul li:first-child {
  padding-top: 0
}

.dashboard ul li:last-child {
  border-bottom: none;
  padding-bottom: 0
}

.dashboard ul li p {
  color: black
}

.dashboard ul li p strong {
  font-weight: bold
}

.dashboard ul li button,
.dashboard ul li .button {
  margin-top: 25px;
  padding: 10px 12px;
  margin-right: 15px;
  font-size: 17px
}

.dashboard ul li button.download-files,
.dashboard ul li .button.download-files {
  border: 1px solid #aaa;
  color: #797874;
  text-decoration: none
}

.dashboard ul li button.download-files i,
.dashboard ul li .button.download-files i {
  position: relative;
  left: 3px;
  top: 1px
}

.dashboard ul li button.verify,
.dashboard ul li .button.verify {
  background-image: linear-gradient(to bottom, #03949A 0%, #03848A 100%);
  border: 1px solid #127E83;
  color: white
}

.dashboard ul li button.reject,
.dashboard ul li .button.reject {
  background-image: linear-gradient(to bottom, #C92940 0%, #B22439 100%);
  border: 1px solid #A71927;
  color: white
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.pdf-header {
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 30px
}

p {
  max-width: 800px
}

.logo {
  margin-bottom: 20px
}

.signature {
  width: 300px;
  position: absolute;
  margin-left: -30px
}

.sig-line {
  margin-top: 80px
}

.footer {
  margin-top: 30px;
  border-top: 1px solid #E5E5E5;
  padding-top: 30px
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

button {
  border: 0
}

.verification-pdf {
  color: black;
  padding: 30px
}

.verification-pdf p {
  margin-top: 20px;
  line-height: 150%
}

.verification-pdf p strong {
  font-weight: bold
}

.verification-pdf h1 {
  font-weight: bold;
  font-size: 32px
}

.wrapper {
  max-width: 470px;
  margin: 0 auto 60px;
  padding: 0 25px
}

.wrapper p,
.wrapper label {
  display: block
}

.wrapper p {
  margin-top: 20px;
  line-height: 150%
}

.header h2 {
  text-indent: -9999px;
  height: 180px;
  background: url(/assets/logo-e6b5a7b85e71c26a0ad8ad6acb075452f1dada0e65afa93865b255331fa53bae.svg) 0 0 no-repeat;
  position: relative;
  left: -90px
}

.header h2+p {
  margin-top: -25px
}

.header p strong {
  font-weight: bold
}

@media only screen and (max-width: 600px) {
  .header {
    margin-top: 30px
  }
  .header h2 {
    text-indent: 0;
    font-weight: bold;
    color: black;
    font-size: 40px;
    background: none;
    left: 0;
    height: auto
  }
  .header h2:before {
    content: '✅';
    margin-right: 25px;
    display: inline-block
  }
  .header h2+p {
    margin-top: 25px
  }
}

.error-message {
  color: #a00
}

form {
  margin-top: 25px
}

form label {
  margin-top: 25px;
  font-weight: bold;
  color: black;
  font-size: 18px
}

form input[type=text],
form input[type=street],
form input[type=city],
form input[type=state],
form input[type=zip],
form input[type=country],
form input[type=email] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #959595;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-top: 25px;
  padding: 15px;
  font-size: 17px;
  color: #546566
}

form input[type=text]:focus,
form input[type=street]:focus,
form input[type=city]:focus,
form input[type=state]:focus,
form input[type=zip]:focus,
form input[type=country]:focus,
form input[type=email]:focus {
  outline: none;
  border-color: #03848A
}

form #street_address_field {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

form .second_row input {
  margin-top: 0;
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

form #country_field {
  margin-top: 0;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}

form .grouped-inputs {
  display: flex
}

form .grouped-inputs input:not(:first-child) {
  border-left-color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

form .grouped-inputs input:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

form .grouped-inputs input:focus {
  border-color: #959595
}

form .reason {
  margin-top: 25px;
  position: relative
}

form .reason em {
  font-style: italic
}

form .reason input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 12px 0 0 0;
  z-index: 2
}

form .reason .checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  height: 25px;
  width: 25px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px
}

form .reason input:checked~.checkmark {
  background-image: linear-gradient(to bottom, #03949A 0%, #03848A 100%);
  color: white;
  text-align: center;
  border: 1px solid #127E83
}

form .reason .checkmark:after {
  content: "";
  position: absolute;
  display: block
}

form .reason input:checked~.checkmark:after {
  display: block
}

form .reason .checkmark:after {
  left: 7px;
  top: 8px;
  width: 11px;
  height: 8.7px;
  background: url(/assets/check-4dd56850dd3b7c0aaf0bf390eda25a7a4ff66b96738e04f55029abfa7144d044.svg)
}

form .reason label {
  font-weight: normal;
  display: block;
  cursor: pointer;
  margin-left: 50px;
  line-height: 130%
}

form button {
  border: 1px dashed #ddd;
  padding: 30px 16px;
  margin-top: 25px;
  font-size: 17px;
  color: #777;
  line-height: 150%;
  background: white;
  width: 100%
}

form button[type=submit] {
  width: 100%;
  background-image: linear-gradient(to bottom, #03949A 0%, #03848A 100%);
  padding: 15px;
  color: white;
  text-align: center;
  border: 1px solid #127E83
}

.widgetFrame {
  opacity: 0 !important;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 25px
}

.file-upload-done {
  border: 1px solid #959595
}

.powered-by-stripe {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  display: block;
  color: #ccc
}

.powered-by-stripe strong {
  font-weight: bold;
  color: #999
}

.footer {
  margin-top: 30px;
  border-top: 1px solid #E5E5E5;
  padding-top: 30px
}

.footer a {
  color: #333
}

#card-element {
  margin-top: 25px;
  box-sizing: border-box;
  border: 1px solid #959595;
  height: 50px;
  width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-size: 17px;
  color: #546566
}

#payment-request-button {
  margin-bottom: 32px
}

.file-upload-icon {
  background: url(/assets/file-upload-0ec7e08586942ff2792c3d288ce7572dab2e0cc97872770793fab715107f8fa1.svg);
  height: 15px;
  width: 12.5px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: text-top;
  margin-top: 1px
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #546566
}

.relative {
  position: relative
}

button,
.button {
  border-radius: 4px
}

button:hover,
.button:hover {
  cursor: pointer
}

button:active,
.button:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 2px 10px rgba(0, 0, 0, 0.05)
}

button:disabled,
.button:disabled {
  cursor: not-allowed;
  opacity: 0.4
}