<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABOUT — Siri</title>
</head>
<body>
  {% extends "template.html" %}
  {% block content %}
  <div class="wrapper">
    <div class="header">
      <h1>About</h1>
      <div class="about_body">
        <p>My name is <strong>v4rsh1th</strong>, presently I am being a narcissist and blabbering about myself on a salon's website. This site is under development, and shall be completed in an eternity because I am procrastinating. Thank you.</p>
      </div>
    </div>
  </div>
  {% endblock %}
</body>
</html>