{% extends "template.html" %}
{% block content %}
    <div class="wrapper">
      <div class="header">
        <h1>About us</h1>
      </div>
    </div>
    <div class="wrapper_two">
      <div class="about_body">
        <p><strong>Siri Herbal Beauty Parlour</strong> has been there for over 15 years. Our talented team take pride in keeping a finger on the pulse of what makes every neighborhood unique. Through our professional services, we relentlessly strive to give our customers an experience that they would love to revisit.</p>
        <p>We keep our vision and our shears sharpened because we know as well as our clients do that trends come and go but hair always grows—and so should what your salon can offer you.</p>
      </div>
    </div>
{% endblock %}