{% extends "template.html" %}
{% block content %}
    <div class="wrapper">
      <div class="header">
        <h1>Siri Herbal Beauty Parlour</h1>
      </div>
    </div>
    <div class="wrapper_two">
      <p>
        At Siri Beauty, our mission is to create a unique tailored service to each and every single one of our clients. Armed with our experience and ongoing continual training to keep on trend and up to date, we believe we can create bespoke beauty services to suit you.
      </p>
      <div class="what_siri_offer">
        <h3> &bull; &nbsp; WHAT SIRI BEAUTY HAS TO OFFER &nbsp; &bull;<h3>
      </div>
      <div class="tell">
        <p>
          We are passionate about delivering and educating each individual client on their beauty and well-being journey. We know our products inside and out we love creating bespoke beauty home packages as well at tips and tricks to keep you looking amazing in between appointments.
        </p>
      </div>
    </div>
{% endblock %}