{% extends "template.html" %}
{% block content %}
    <div class="wrapper">
      <div class="header">
        <h1>Siri Herbal Beauty Parlour</h1>
      </div>
    </div>
    <div class="wrapper_two">
      <div class="services_body">
        <h3>Services</h3>
        <p>
          At Siri, we strive to offer the best beauty services in order to make the neighbourhood unique from the rest.
        </p>
        <div class="services_type">
          <p id="typeof"><strong>&bull; &nbsp; THREADING</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; BLEACH</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; FACIALS</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; WAXING</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; MANICURE & PEDICURE</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; HENNA</strong></p>
            <p><i>&nbsp; &nbsp; &nbsp; — coloring henna</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — conditioning henna</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — anti-hairfall henna</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — black henna</i></p>
          <p id="typeof"><strong>&bull; &nbsp; HAIR</strong></p>
            <p><i>&nbsp; &nbsp; &nbsp; — straightening</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — curling</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — cutting</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — highlighting</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — coloring</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — spa</i></p>
          <p id="typeof"><strong>&bull; &nbsp; MEHENDI</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; MAKE UPS</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; HAIR TREATMENT</strong></p>
            <p><i>&nbsp; &nbsp; &nbsp; — hair splits treatment</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — dandruff treatment</i></p> 
            <p><i>&nbsp; &nbsp; &nbsp; — hairfall treatment</i></p>
          <p id="typeof"><strong>&bull; &nbsp; SKIN TREATMENT</strong></p>
            <p><i>&nbsp; &nbsp; &nbsp; — pigmentation</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — acne</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — under-eye</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — whitening</i></p>
            <p><i>&nbsp; &nbsp; &nbsp; — warts</i></p>
        </div>
      </div>
    </div>
{% endblock %}