{% extends "template.html" %}
{% block content %}
    <div class="wrapper">
      <div class="header">
        <h1>Siri Herbal Beauty Parlour</h1>
      </div>
    </div>
    <div class="wrapper_two">
      <div class="services_body">
        <h3>Services</h3>
        <p>
          At Siri, we strive to offer the best beauty services in order to make the neighbourhood unique from the rest.
        </p>
        <div class="services_type">
          <p id="typeof"><strong>&bull; &nbsp; HAIR</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; NAIL</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; FACIAL</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; BLEACH</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; WAXING</strong></p>
          <p id="typeof"><strong>&bull; &nbsp; HENNA</strong></p>
        </div>
      </div>
    </div>
{% endblock %}