{% extends "template.html" %}
{% block content %}
<div class="wrapper">
  <div class="header">
    <h1>Siri Herbal Beauty Parlour</h1>
  </div>
  <div class="services_body">
    <h3>Services</h3>
    <p>
      At Siri, we strive to offer the best beauty services in order to make the neighbourhood unique from the rest.
    </p>
    <p>
      We offer a wide range of services from hair to skin.
    </p>
    <div class="services_type">
      <p>
        1. Hair cutting <br>
        2. Hair coloring <br>
        3. Hair highlights <br>
        4. Facials <br>
        5. Hair spa <br>
      </p>
    </div>
  </div>
</div>
{% endblock %}